In [ ]:
# Oct 31, 2020
# Agenda:

# Control Flow Statements
# IF-ELSE (Conditional Statements)
# ITERATION/LOOPING STRUCTURES - FOR, WHILE, DO WHILE
# FUNCTIONS
# OPERATORS
# CONTRAINERS/DATA STRUCTURES

In [ ]:
# Linear Equation (LE) - I
# y = 2x

In [7]:
x = 1
y = 2*x
print (x)
print (y)
y = 5
print (y)

1
2
5

In [8]:
x = 1
y = 2*x
x, y

(1, 2)

In [ ]:
print (x)
print (y)

In [12]:
x = 5.1
# If value of x exceeds 5, I want to calculate y. - TRUTH (Meet this critera)
# Don't calculate any value until value of x is below 5 - TRUTH (Meet this criteria as well)
if x>5:
    y = 2*x
    print (y)

10.2

In [ ]:
# Pseudo code is code which is only meant to show the program flow

In [ ]:
# Pseudo code for logic in cell [12]
if True:
    Then do this code

In [14]:
x = 1
x < 5

True

In [16]:
x = 0
if True: # This doesn't make any sense in the programming
    y = 2*x
    print (y)

0

In [18]:
x = 10
if x < 5:
    y = 2*x
    print (y)

In [ ]:
# Python Indent - Indent is the space from left. And In python, its rule to keep the space equal to "Tab".

In [22]:
x = 5
if x < 5:
    y = 2*x
    print (y)
else:
    print ("x is either equal or greater than 5")

x is either equal or greater than 5

In [ ]:
# Modify the linear equation
# Rule 1: x<0, then y=2x+1
# Rule 2: x>=0 and x<=10, then y=2x
# Rule 3: For all other values: y=2x+5

In [ ]:
# Contitional Operators 
# = Equal
# > Greater than
# < Less than
# != Not Equal to
# >= Greather than & equal to 
# <= Less than & equal to

In [28]:
x = 15

if x<0:
    y = 2*x + 1
elif x>=0 and x<=10:
    y = 2*x
else:
    y = 2*x + 5
    
print (y)

35

In [30]:
# Python List
xa = [1, 2, 3, 4]
xa

[1, 2, 3, 4]

In [31]:
xa[0] # list[index]

1

In [32]:
xa[1]

2

In [33]:
xa[4]

IndexError: list index out of range

In [ ]:
# Looping Structures

In [34]:
for val in xa: #xa - list, val - variable
    print (val)

1
2
3
4

In [38]:
for val in xa:
    if val < 5:
        y = 2*val
        print (y)
    else:
        print ("val is either equal or greater than 5")

2
4
6
8
val is either equal or greater than 5
val is either equal or greater than 5
val is either equal or greater than 5
val is either equal or greater than 5
val is either equal or greater than 5
val is either equal or greater than 5

In [37]:
xa = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# On xa list, compute y = 2*x for all of the elements/values, and save the output to another list, say ya

In [41]:
ya = [] # empty list 
for val in xa:
    answer = val * 2
    ya.append(answer) # append means add to the list

In [42]:
ya

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Print only the values equal and between 10 and 16 in list ya

In [45]:
for a in ya:
    if 10<=a<=16:
        print (a)

10
12
14
16

In [ ]:
# Bring both xa, and ya lists into the for loop

In [46]:
1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18
10 20
# The function zip in for loop will combine multiple lists togethers

SyntaxError: invalid syntax (<ipython-input-46-140afe3db7d7>, line 1)

In [47]:
# This is invalid
zip(xa, ya)

# Generator/Iterator

In [48]:
for some_values_here in zip(xa, ya):
    print (some_values_here)

(1, 2)
(2, 4)
(3, 6)
(4, 8)
(5, 10)
(6, 12)
(7, 14)
(8, 16)
(9, 18)
(10, 20)

In [49]:
xa, ya

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20])

In [ ]:
# What is a Python list?

# List is a sequence structure or container, which can be used to store multiple types of data altogether.

In [50]:
x = [1, 2, 3, 4, 5]

In [51]:
y = [1, 2, 3, 4, 'five']

In [52]:
x

[1, 2, 3, 4, 5]

In [53]:
y

[1, 2, 3, 4, 'five']

In [54]:
z = [1, 1.5, "one point five"]

In [55]:
z

[1, 1.5, 'one point five']

In [ ]:
# List can even contain lists into it.

In [56]:
my_list = [1, 3, 4, 5, z]
my_list

[1, 3, 4, 5, [1, 1.5, 'one point five']]

In [57]:
z[2]

'one point five'

In [58]:
z[1]

1.5

In [59]:
my_list[2]

4

In [60]:
my_list[4]

[1, 1.5, 'one point five']

In [62]:
my_list[4][1] #my_list[number reference to value in my_list][number reference to value in another list within my_list]

1.5

In [63]:
my_list.append("My value")

In [64]:
my_list

[1, 3, 4, 5, [1, 1.5, 'one point five'], 'My value']

In [65]:
z1 = []
for a in x:
    z1.append(a)
z1

[1, 2, 3, 4, 5]

In [66]:
x

[1, 2, 3, 4, 5]

In [ ]:
# Model the operation in cell [65]

# 1. For Loop will fetch first value in list x to variable a, now a=1
            # and save that value in variable a to end of the list z1, z1 = [1]
# 2. For Loop will fetch second value in list x to variable a, now a=2
            #and save that value in variable a to end of the list z1,  z1 = [1, 2]
# 3. For Loop will fetch third value in list x to variable a, now a=3
            #and save that value in variable a to end of the list z1,  z1 = [1, 2, 3]
# 4. For Loop will fetch fourth value in list x to variable a, now a=4
            #and save that value in variable a to end of the list z1,  z1 = [1, 2, 3, 4]
# 5. For Loop will fetch fifth value in list x to variable a, now a=5
            #and save that value in variable a to end of the list z1,  z1 = [1, 2, 3, 4, 5]

In [67]:
x

[1, 2, 3, 4, 5]

In [68]:
y

[1, 2, 3, 4, 'five']

In [69]:
type(x) # datatype of container

list

In [70]:
type(y)

list

In [71]:
id(x) # location of container in the memory

2885121715464

In [72]:
id(y)

2885121753672

In [73]:
id(z1)

2885122391944

In [74]:
z2 = x # object reference in the case of containers

In [75]:
z2

[1, 2, 3, 4, 5]

In [82]:
id(x), id(z2)

(2885121715464, 2885121715464)

In [80]:
x_val = 5
z_val = x_val #object refrence in the case of containers

In [81]:
id(x_val), id(z_val)

(140725893960640, 140725893960640)

In [83]:
z2[1] = 10

In [84]:
z2

[1, 10, 3, 4, 5]

In [85]:
x

[1, 10, 3, 4, 5]

In [87]:
for z3 in x:
    print (z3)

1
10
3
4
5

In [88]:
id(x), id(z3)

(2885121715464, 140725893960640)

In [89]:
z3

5

In [90]:
z3 = []
for zx in x:
    z3.append(zx)

In [92]:
z3

[1, 10, 3, 4, 5]

In [93]:
id(x), id(z3)

(2885121715464, 2885122235208)

In [95]:
z4 = x.copy()
id(x), id(z4)

(2885121715464, 2885121886600)

In [96]:
x

[1, 10, 3, 4, 5]

In [97]:
x.pop()
x

[1, 10, 3, 4]

In [98]:
x.pop()
x

[1, 10, 3]

In [99]:
x.append(4)
x

[1, 10, 3, 4]

In [100]:
x.append(y)

In [101]:
x

[1, 10, 3, 4, [1, 2, 3, 4, 'five']]

In [102]:
y

[1, 2, 3, 4, 'five']

In [103]:
x.extend(y)

In [104]:
x

[1, 10, 3, 4, [1, 2, 3, 4, 'five'], 1, 2, 3, 4, 'five']

In [108]:
x.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [111]:
z4.sort()

In [112]:
z4

[1, 3, 4, 5, 10]

In [113]:
z4.reverse()
z4

[10, 5, 4, 3, 1]

In [114]:
z4.clear()

In [115]:
z4

[]

# Excercise Section

In [ ]:
# Exercise 1

In [ ]:
# Compute euclidean distance (1-dimensional) example

In [116]:
x = [5, 6, 7, 12, 15, 20, 10, 80, 90, 100]

In [118]:
x_test = 8 # FInd the nearest neighbor (most identical) to x_test value

In [119]:
import math
x_distance = []
for val in x:
    dist = math.sqrt((val - x_test)**2)
    x_distance.append(dist)

In [120]:
x_distance

[3.0, 2.0, 1.0, 4.0, 7.0, 12.0, 2.0, 72.0, 82.0, 92.0]

In [ ]:
# I need to find the index and distance of the row with minium distance

In [125]:
min_dist = min(x_distance) # find the value of minimum distance

In [127]:
min_index = x_distance.index(min_dist) # find the index of minimum distance

In [129]:
print ("Nearest Neighbor to " + str(x_test) + " is on index " + str(min_index) + " and have distance of " + str(min_dist))

Nearest Neighbor to 8 is on index 2 and have distance of 1.0

In [ ]:
# Exercise 2

In [ ]:
# Compute euclidean distance (2-dimensional) example

In [132]:
# data = [age, score]
data = [[22, 90], [21, 89], [22, 91], [35, 78], [38, 87]]

In [140]:
unknown_student = [20, 88] #we are looking to find the students, who are alike performers.

In [141]:
x_distance = []
base_age = unknown_student[0]
base_score = unknown_student[1]
import math

for pair in data:
        distance = math.sqrt( (base_age - pair[0])**2 + (base_score - pair[1])**2 )
        x_distance.append(distance)

In [142]:
x_distance

[2.8284271247461903,
 1.4142135623730951,
 3.605551275463989,
 18.027756377319946,
 18.027756377319946]

In [143]:
min_dist = min(x_distance)
min_dist

1.4142135623730951

In [145]:
idx = x_distance.index(min_dist)
idx

1

In [ ]:
# If we need to pair this unknown student with someone from his class, It should be student 1

In [ ]:
# In Machine Learning, we have an algorithm called K-nearest neighbor.
# Its used to match the identical rows of data.

# Assume you have a customer data, with some of the attributes
# Let's say,

# Let's say all these customer have either bought or refused to a banking product. (Saving Account, TFSA, etc)
# age, GEnder, City, ZipCode, Income, ethnicity
# 23, F, Toronto, L5B3Z2, 40000, Asian, 1
# 25, M, Hamilton, N5Z5H5, 60000, White, 0
# 19, M, Ottawa, Z3H8M8, 550000, South Asian, 1


# 18, M, Ottawa, somethign, 52000, Asian, ?

sqrt( (age-age)**2 + (gender-gender)**2 + (location-location)**2 + (zip-zip)**2 + (income-income)**2 + (ethnicity-ethnicity)**2 )

# Take-Home Exercises

### 1. Write a conditional statement block, which prints "Yes" if value if variable is less than 10, 
### and "No" if value is greater than or equal to 10.

In [ ]:
### 2. Write a For loop to print all the elements in list1.

In [ ]:
### 3. Write a For loop to save all the elements in list1 to list2

In [ ]:
### 4. Assign all data in list1 to list3 with = operator

In [ ]:
### 5. Check ids for list1, list2 and list3

In [ ]:
### 6. Give the reason, why ids of list1 and list2 are different.

In [ ]:
### 7. Give the reason, why ids of list1 and list3 are similar.

In [ ]:
### 8.
### mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
### Write For Loop with conditional statements to store "Yes"/"No" in the myoutput list.
### Use following Logic for conditional statements:
###       If mylist value is less than 5, append "Yes" to myoutput
###       Else, append "No" to myoutput
### Print the results in myoutput

In [5]:
### 9.
### The city geocoordinates are given for:
### Stratford, Sault Ste Marie, Sarnia, Petersborogh, Own Sound, Ottawa, Niagara Falls, London, Kingston.
### Write a for loop to compute the distance from Toronto to all other cities.`

In [6]:
cities = [[43.3708,-80.9819], [46.5333, -84.3500], 
          [42.9994, -82.3089], [44.3000, -78.3167], 
          [44.5667, -80.9333], [45.4247, -75.6950], 
          [43.0600, -79.1067], [42.9836, -81.2497], [44.2333, -76.5000]]

toronto = [43.6532, -79.3832]

In [7]:
### 10. Write the code to find the index and distance of the city with minimum distnace.